/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

.btn-toolbar {
	font-size: 0;
	margin-top: 0px;
	margin-bottom: 10px;
}

.new-commodity {
  /* form sidebar*/
}
.new-commodity .form-wrapper .with-sidebar {
  border-right: 1px solid #edeef1;
  box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
}
.new-commodity .form-wrapper .container {
  width: 90%;
  float: left;
}
.new-commodity .form-wrapper .field-box {
  margin-bottom: 25px;
  margin-left: 0;
  float: left;
  width: 100%;
}
.new-commodity .form-wrapper label {
  display: inline-block;
  float: left;
  font-weight: 600;
  font-size: 13px;
  cursor: auto;
  width: 120px;
}
.new-commodity .form-wrapper input[type="text"] {
  margin: 0;
  padding: 3px 6px;
  width: 75%;
  display: inline-block;
}
.new-commodity .form-wrapper .address-fields {
  margin-left: 0px;
  float: left;
  width: 75%;
}
.new-commodity .form-wrapper .address-fields input[type="text"]:first-child {
  width: 100%;
}
.new-commodity .form-wrapper input.small {
  width: 27%;
  margin-top: 20px;
  margin-right: 20px;
}
.new-commodity .form-wrapper input.last {
  margin-right: 0;
}
.new-commodity .form-wrapper input:-moz-placeholder {
  font-style: italic;
}
.new-commodity .form-wrapper input:-ms-input-placeholder {
  font-style: italic;
}
.new-commodity .form-wrapper input::-webkit-input-placeholder {
  font-style: italic;
}
.new-commodity .form-wrapper textarea {
  height: 88px;
}
.new-commodity .textarea {
  margin-top: 27px;
}
.new-commodity .textarea span.charactersleft {
  color: #9ba0a5;
  display: inline-block;
  text-align: left;
  margin-left: 20%;
  margin-top: 8px;
  font-size: 13px;
  font-style: italic;
}
.new-commodity .actions {
  margin-top: 30px;
  text-align: right;
  padding-right: 40px;
}
.new-commodity .actions span {
  text-transform: uppercase;
  color: #7e91aa;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px 0 8px;
}
.new-commodity .actions input.reset {
  color: #7e91aa;
  font-weight: 500;
}
.new-commodity .form-sidebar .alert {
  margin: 20px 0px 60px 0px;
}
.new-commodity .form-sidebar .alert i {
  margin-bottom: 40px;
}
.new-commodity .form-sidebar h6 {
  font-weight: 600;
  text-transform: uppercase;
}
.new-commodity .form-sidebar p {
  color: #777e86;
}
.new-commodity .form-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.new-commodity .form-sidebar ul a {
  text-decoration: underline;
}

/* responsive */
@media (max-width: 767px) {
  .new-commodity .form-wrapper .container {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #edeef1;
    box-shadow: 0px 4px 3px -1px rgba(226, 226, 226, 0.1);
  }
  .new-commodity .form-wrapper .with-sidebar {
    border-right: 0 none;
    box-shadow: none;
  }
  .new-commodity .form-wrapper label {
    margin: 0;
  }
  .new-commodity .form-wrapper .textarea label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .new-commodity .form-wrapper .textarea textarea {
    width: 97%;
  }
  .new-commodity .textarea span.charactersleft {
    display: inline-block;
    margin-left: 0;
  }
  .new-commodity .actions {
    margin-top: 0;
  }
  .new-commodity .form-sidebar {
    margin-top: 40px;
  }
}
@media (max-width: 979px) {
  .new-commodity .form-wrapper .address-fields {
    margin-top: 30px;
    width: 100%;
  }
  .new-commodity .form-wrapper input.small {
    width: inherit;
    margin: 20px 0px 0px 0px;
  }
}
