<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bjut.help.information.dao.MessageDao">

	<resultMap type="cn.edu.bjut.help.core.bo.Message" id="messageResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="theme" property="theme" jdbcType="VARCHAR" />
		<result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
		<result column="contact" property="contact" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="expire" property="expire" jdbcType="BIGINT" />
		<result column="longitude" property="longitude" jdbcType="DOUBLE" />
		<result column="latitude" property="latitude" jdbcType="DOUBLE" />
		<result column="position" property="position" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="saveMessage" useGeneratedKeys="true" keyProperty="id" parameterType="cn.edu.bjut.help.core.bo.Message">
        insert into tb_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
        	user_id, theme, timestamp, contact, content, type, expire, longitude, latitude, position
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        	#{userId, jdbcType=BIGINT},
        	#{theme, jdbcType=VARCHAR},
        	#{timestamp, jdbcType=TIMESTAMP},
        	#{contact, jdbcType=BIGINT},
        	#{content, jdbcType=VARCHAR},
        	#{type, jdbcType=TINYINT},
        	#{expire, jdbcType=BIGINT},
        	#{longitude, jdbcType=DOUBLE},
        	#{latitude, jdbcType=DOUBLE},
        	#{position, jdbcType=VARCHAR}
        </trim>
    </insert>
    
    <select id="findMessages" resultMap="messageResultMap">
		select id, user_id, theme, timestamp, contact, content, type, expire, longitude, latitude, position from tb_message
		<where>
			(timestamp + INTERVAL expire HOUR) > now()
		</where>
	</select>
	
</mapper>

