<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirdblock.migo.account.dao.RepositoryDao">

	<resultMap type="com.thirdblock.migo.core.bo.Repository" id="repositoryResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="save" parameterType="com.thirdblock.migo.core.bo.Repository" useGeneratedKeys="true" keyProperty="id">
		insert into tb_repository (name, description) 
		values (
			#{name, jdbcType=VARCHAR},
			#{description, jdbcType=VARCHAR}
		) 
	</insert>
	
	<update id="update" parameterType="com.thirdblock.migo.core.bo.Repository" flushCache="true">
		update tb_repository
		<set>
			<if test="name != null">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description, jdbcType=VARCHAR},
			</if>
		</set>
		<where> 
			id = #{id, jdbcType=BIGINT}
		</where>
	</update>
	
	
	<select id="searchRepositories" parameterType="com.thirdblock.migo.account.web.action.dto.RepositorySearchForm" resultMap="repositoryResultMap">
		select id, name, description from tb_repository
	</select>
	

</mapper>

