<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirdblock.migo.account.dao.UserDao">

	<resultMap type="com.thirdblock.migo.core.bo.User" id="userResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="enabled" property="enabled" jdbcType="BOOLEAN" />
		<result column="repository_id" property="repositoryId" jdbcType="BIGINT" />
	</resultMap>
	
	<resultMap type="com.thirdblock.migo.account.web.action.dto.SearchUsersVO" id="searchUsersResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="enabled" property="enabled" jdbcType="BOOLEAN" />
		<result column="name" property="repositoryName" jdbcType="VARCHAR" />
		<result column="description" property="repositoryDescription" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findUserByUsername" parameterType="java.lang.String" resultMap="userResultMap">
		select id, password, username, enabled, repository_id from tb_user
		<where>
			username = #{username, jdbcType=VARCHAR}
		</where>
	</select>
	
	<insert id="save" parameterType="com.thirdblock.migo.core.bo.User" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user (username, password, enabled, repository_id) 
		values (
			#{username, jdbcType=VARCHAR},
			md5(#{password, jdbcType=VARCHAR}),
			#{enabled, jdbcType=BOOLEAN},
			#{repositoryId, jdbcType=BIGINT}
		) 
	</insert>
	
	
	<select id="searchUsers" parameterType="com.thirdblock.migo.account.web.action.dto.UserSearchForm" resultMap="searchUsersResultMap">
		select u.id, u.username, u.enabled, r.name, r.description from tb_user u left join tb_repository r on u.repository_id = r.id
	</select>


</mapper>

